import mysql.connector

def get_connection():
    return mysql.connector.connect(
        host="localhost",
        user="root",
        password="ISI_PASSWORD_MYSQL_KAMU",
        database="perpustakaan"
    )

# buat file baru lagi db.py dan copas ini ke file itu 